<!--/app/password/password_reset.html-->

{% extends 'base.html' %}

{% block content %}      
<!--Reset Password-->
<div class="columns is-flex is-justify-content-center">
	<div class="column is-6-desktop is-6-tablet is-8-mobile">
		<div class="block">
			<div class="box">
				<form method="POST">
					<div class="title has-text-centered">
						<p >Izmjena lozinke</p>
					</div>
					<div class="subtitle has-text-centered mt-2">
						<p >Zaboravili ste lozinku? E-mail unesite ispod, a mi ćemo Vam na njega poslati upute.</p>
					</div>
					{% csrf_token %}
					{{ password_reset_form.non_field_errors }}
					<div class="field">
						<label class="label" for="{{ password_reset_form.email.id_for_label }}">Email:</label>
						<div class="control has-icons-left">
						{{ password_reset_form.email }}
						<span class="icon is-small is-left">
							<i class="fas fa-envelope"></i>
						</span>
						</div>
						{{ password_reset_form.username.errors }}
					</div>
					<div class="field has-text-centered">
						<button class="button is-warning is-rounded mt-1" type="submit">
							<span class="is-uppercase has-text-weight-bold">pošalji email</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}