<!--/app/password/password_reset_confirm.html-->

{% extends 'base.html' %}

{% block content %}
<!--Password Reset Confirm-->

<div class="columns is-flex is-justify-content-center">
	<div class="column is-4-desktop is-6-tablet is-8-mobile">
		<div class="block">
			<div class="box">
                <form method="POST">
                    <div class="title has-text-centered">
                        <p >Izmjena lozinke</p>
                    </div>
                    {% csrf_token %}
                    <div class="field">
                        <label class="label" for="new_password1">Nova lozinka:</label>
                        <div class="control has-icons-left">
                            <input class="input" type="password" name="new_password1" placeholder="********">
                        <span class="icon is-small is-left">
                            <i class="fas fa-key"></i>
                        </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="new_password2">Ponovite lozinku:</label>
                        <div class="control has-icons-left">
                            <input class="input" type="password" name="new_password2" placeholder="********">
                        <span class="icon is-small is-left">
                            <i class="fas fa-key"></i>
                        </span>
                        </div>
                    </div>
                    <div class="field has-text-centered">
                        <button class="button is-warning is-rounded" type="submit">
                            <span class="is-uppercase has-text-weight-bold">izmjeni lozinku</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}