<!--/app/password/password_reset_confirm.html-->

{% extends 'base.html' %}

{% block content %}
  
  <!--Password Reset Confirm-->
    <div>
	    <h2>Izmjena lozinke</h2>
		<hr>
        <p>Molimo unesite novu lozinku.</p>
        <form method="POST">
            {% csrf_token %}
            <label for="new_password1">Nova lozinka:</label>                    
            <input class="input is-grey-light is-medium" type="password" class="pwd" name="new_password1" placeholder="lozinka" autocomplete="off">                                        
            <label for="new_password2">Ponovite lozinku:</label> 
            <input class="input is-grey-light is-medium" type="password" class="pwd" name="new_password2" placeholder="lozinka" autocomplete="off">
            <button type="submit">Izmjeni lozinku</button>
        </form>
    </div>

{% endblock %}