<!--/app/login.html-->

{% extends 'base.html' %}

{% block content %}    

<!--Prijava--> 
<div class="columns is-flex is-justify-content-center">
    <div class="column is-6-desktop is-6-tablet is-8-mobile">
        <div class="block">
            <div class="box">
                <form method="POST">
                    <div class="title has-text-centered">
                        <p >Prijava</p>
                    </div>
                    {% csrf_token %}
                    {{ obrazac_prijave.non_field_errors }}
                    <div class="field">
                        <label class="label" for="{{ obrazac_prijave.username.id_for_label }}">Korisničko ime:</label>
                        <div class="control has-icons-left">
                            {{ obrazac_prijave.username }}
                            <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                            </span>
                        </div>
                        {{ obrazac_prijave.username.errors }}
                    </div>
                    <div class="field">
                        <label class="label" for="{{ obrazac_prijave.password.id_for_label }}">Lozinka:</label>
                        <div class="control has-icons-left">
                            {{ obrazac_prijave.password }}
                            <span class="icon is-small is-left">
                            <i class="fas fa-key"></i>
                            </span>
                        </div>
                        {{ obrazac_prijave.password.errors }}
                    </div>
                    <div class="field has-text-centered">
                        <button class="button is-warning is-rounded mt-1" type="submit">
                            <span class="is-uppercase has-text-weight-bold">prijavi me</span>
                        </button>
                    </div>
                    <div class="field has-text-right">
                        <a href="/password_reset">Zaboravili ste lozinku?</a>
                        </br>
                        <a href="/register">Nemate račun?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}