<!--/app/login.html-->

{% extends 'base.html' %}

{% block content %}      
<!--Prijava--> 
<div class="container">
    <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-4-widescreen">
            <form method="POST" class="box">
                <div class="title has-text-centered">
                    <p >Prijava</p>
                </div>
                {% csrf_token %}
                {{ login_form.non_field_errors }}
                <div class="field">
                    <label class="label" for="{{ login_form.username.id_for_label }}">Korisničko ime:</label>
                    <div class="control has-icons-left">
                        {{ login_form.username }}
                        <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                        </span>
                    </div>
                    {{ login_form.username.errors }}
                </div>
                <div class="field">
                    <label class="label" for="{{ login_form.password.id_for_label }}">Lozinka:</label>
                    <div class="control has-icons-left">
                        {{ login_form.password }}
                        <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                        </span>
                    </div>
                    {{ login_form.password.errors }}
                </div>
                <div class="field has-text-centered">
                    <button class="button is-light" type="submit">Prijavi me</button>
                </div>
                <div class="field has-text-right">
                    <a href="/password_reset">Zaboravili ste lozinku?</a>
                    </br>
                    <a href="/register">Nemate račun?</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}