<!--/app/objava.html-->

{% extends 'base_logged_in.html' %}

{% block content %}

<div class="columns is-flex is-justify-content-center">
    <div class="column is-8-desktop is-8-tablet is-10-mobile">
        <!-- Objava -->
        <div class="block mt-3 mx-3">
            <div class="box my-2 p-4">
                <article class="media">
                    <div class="media-left">
                        <!-- Avatar profila -->
                        <figure class="image is-64x64">
                            <a href='{% url 'app:profil' objava.stvorio.profil.id %}'>
                                <img class="is-rounded" src="{{ objava.stvorio.profil.avatar.url }}" alt="Image">
                            </a>
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <div class="level is-vcentered">
                                <!-- Podaci o profilu -->
                                <div class="level-left">
                                    <a href='{% url 'app:profil' objava.stvorio.profil.id %}'>
                                        <span class="title is-size-4 has-text-bold">{{ objava.stvorio.profil.ime }}</span>
                                        <span class="subtitle is-size-5 has-text-grey-light ml-2">@{{ objava.stvorio.username }}</span>
                                    </a>
                                    <span class="subtitle is-size-5 has-text-grey-light ml-2">{{ objava.vrijeme_stvaranja|timesince }}</span>
                                </div>

                                <!-- Gumb za brisanje objave -->
                                {% if objava.stvorio == user %}
                                    <div class="level-right">
                                        <div class="buttons">
                                            <a class="button is-warning is-rounded" href="{% url 'app:brisi_objavu' objava.id %}">
                                                <span class="icon"> <i class="fa-solid fa-ban"></i> </span>
                                                <span class="is-uppercase has-text-weight-bold">briši</span>
                                            </a>
                                        </div> 
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="content">
                            <!-- Popis sastojaka -->
                            <div class="block is-flex is-justify-content-center">
                                <p class="title is-size-3 mt-4">
                                    {{ objava.naslov }}
                                </p>
                            </div>    
                            <p class="title is-size-5 has-text-bold">
                                Sastojci:
                            </p>
                            <ul>
                                {% for sastojak in objava.sastojci_as_list %}
                                    <li>{{ sastojak }}</li>
                                {% endfor %}
                            </ul>

                            <!-- Popis uputa -->
                            <p class="title is-size-5 has-text-bold">
                                Upute:
                            </p>
                            <ol>
                                {% for uputa in objava.upute_as_list %}
                                    <li>{{ uputa }}</li>
                                {% endfor %}
                            </ol>

                            <!-- Napomene -->
                            {% if objava.napomene %}
                                <p class="title is-size-5 has-text-bold">Napomene:</p>
                                <p class="pl-4">{{ objava.napomene }}</p>
                            {% endif %}
                        </div>
                    </div>
                </article>

                <!-- Galerija slika -->
                <div class="columns is-multiline is-flex is-justify-content-center p-3 mt-3">
                    {% for objava_slika in objava.objava_slike.all %}
                            <div class="column is-one-third-widescreen is-one-third-desktop is-half-tablet is-half-mobile">
                                <div class="card">
                                    <div class="card-image">
                                        <a href="{{ objava_slika.slika.url }}" target="_blank" class="image">
                                            <img src="{{ objava_slika.slika.url }}" alt="Image">
                                        </a>
                                    </div>
                                </div>
                            </div>
                    {% endfor %}
                </div>

                <!-- Srca i komentari -->
                <nav class="level">
                    <div class="level-left">
                        <form method="post">
                            {% csrf_token %}
                            <div class="buttons">
                                <!-- Gumb za dislajk -->
                                {% if  objava.stvorio == user %}
                                    <button class="button is-small is-white" disabled>
                                        <span class="icon"> <i class="fa-solid fa-heart"></i> </span>
                                        <span class="is-size-6"> {{ objava.srca.count }} </span>
                                    </button>
                                {% else %}
                                    {% if user in objava.objava_srca.all %}
                                        <button class="button is-small is-dark is-rounded" name="srce" value="nevoli">
                                            <span class="icon"> <i class="fa-solid fa-heart-crack"></i> </span>
                                            <span class="is-size-6"> {{ objava.srca.count }} </span>
                                        </button>
                                    {% else %}
                                    <!-- Gumb za lajk -->
                                        <button class="button is-small is-warning is-rounded" name="srce" value="voli">
                                            <span class="icon"> <i class="fa-solid fa-heart"></i> </span>
                                            <span class="is-size-6"> {{ objava.srca.count }} </span>
                                        </button>
                                    {% endif %}
                                {% endif %}

                                <!-- Broj komentara -->
                                <button class="button is-small is-white" disabled>
                                    <span class="icon"> <i class="fa-solid fa-comments"></i> </span>
                                    <span class="is-size-6"> {{ objava.komentari.count }} </span>
                                </button>
                            </div>
                        </form>  
                    </div>
                </nav>
            </div>
        </div>

        <!-- Novi komentar -->
        <div class="block mt-3 mx-6">
            <div class="box my-2 py-1 px-3">
                <div class="content p-3">
                    <!-- Obrazac za unos novog komentara -->
                    <form method="post">
                        {% csrf_token %}
                        {{ obrazac_komentara.tijelo }}
                        <div class="buttons mt-1 is-justify-content-center">
                            <button class="button is-warning is-rounded m-4" type="submit">
                                <span class="icon"> <i class="fa-solid fa-comment"></i> </span>
                                <span class="is-uppercase has-text-weight-bold">komentiraj</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Ispis svih komentara -->
        <div class="block mx-6">
            {% for komentar in objava.komentari.all %}
                <div class="box my-2 p-3">
                    <article class="media">
                        <div class="media-left">
                            <!-- Avatar profila -->
                            <figure class="image is-48x48">
                                <a href='{% url 'app:profil' komentar.stvorio.profil.id %}'>
                                    <img class="is-rounded" src="{{ komentar.stvorio.profil.avatar.url }}" alt="Image">
                                </a>
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <!-- Podaci o profilu -->
                                <div class="level is-vcentered">
                                    <div class="level-left">
                                        <a class="has-text-black" href="{% url 'app:profil' komentar.stvorio.profil.id %}">
                                            <span class="title is-size-5 has-text-bold"> {{ komentar.stvorio.profil.ime }} </span>
                                            <span class="subtitle is-size-6 has-text-grey-light ml-2"> @{{ komentar.stvorio.username }} </span>
                                        </a>
                                        <span class="subtitle is-size-6 has-text-grey-light ml-2"> {{ komentar.vrijeme_komentiranja|timesince }} </span>

                                    </div>

                                    <!-- Gumb za brisanje komentara -->
                                    {% if komentar.stvorio == user %}
                                        <div class="level-right">
                                            <a href="{% url 'app:brisi_komentar' objava.id komentar.id %}">
                                                <button class="button is-warning is-rounded is-small">
                                                    <span class="icon"> <i class="fa-solid fa-comment-slash"></i> </span>
                                                    <span class="is-uppercase has-text-weight-bold">briši</span>
                                                </button>
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <!-- Sadržaj komentara-->
                            <div class="content">
                                {{ komentar.tijelo }}
                            </div>
                        </div>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}