{% extends 'base_logged_in.html' %}

{% block content %}

<div class="columns is-flex is-justify-content-center">
    <div class="column is-8-tablet is-7-mobile is-7-desktop">
        {% for profil in profili %}
        <div class="block">
            <!-- BLOK INFORMACIJA O TVITERASU -->
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <a href='{% url 'app:profil' profil.id %}'>
                                <img class="is-rounded" src="{{ profil.avatar.url }}" alt="Image">
                            </a>
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                        <p>
                            <a href='{% url 'app:profil' profil.id %}'>
                                <span class="title is-4 is-bold">{{ profil.ime }}</span>
                                <span class="subtitle is-6 ml-2">@{{ profil.korisnik.username }}</span>
                            </a>
                        </p>
                        <p>
                            <span class="subtitle is-5">{{ profil.opis }}</span>
                        </p>
                        <p>
                            <span class="subtitle is-6">
                                <span class="icon"> <i class="fa-solid fa-location-dot"></i> </span>
                                <span> {{ profil.lokacija }} </span>

                                <span class="icon ml-4"> <i class="fa-solid fa-cake-candles"></i> </span>
                                <span> {{ profil.datum_pridruzivanja }} </span>
                            </span>
                        </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}