{% extends 'base_logged_in.html' %}

{% block content %}

<!-- informacije o profilu -->
<div class="columns is-flex is-justify-content-center">
    <div class="column is-8-desktop is-7-tablet is-7-mobile ">
        <div class="block">
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img class="is-rounded" src="{{ profil.avatar.url }}" alt="Image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <span class="title is-4 is-bold">{{ profil.ime }}</span>
                                <span class="subtitle is-6 ml-2">@{{ profil.korisnik.username }}</span>
                            </p>
                            <p>
                                <span class="subtitle is-5">{{ profil.opis }}</span>
                            </p>
                            <p>
                                <span class="subtitle is-6">
                                    <span class="icon"> <i class="fa-solid fa-location-dot"></i> </span>
                                    <span> {{ profil.lokacija }} </span>

                                    <span class="icon ml-4"> <i class="fa-solid fa-cake-candles"></i> </span>
                                    <span> {{ profil.datum_pridruzivanja }} </span>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="media-right">
                        <form method="post">
                            {% csrf_token %}
                            {% if profil != user.profil %}
                                {% if profil in user.profil.prati.all %}
                                    <button class="button is-rounded is-dark" name="pracenje" value="neprati">
                                        <span class="icon"> <i class="fa-solid fa-user-minus"></i> </span>
                                    </button>
                                {% else %}
                                    <button class="button is-rounded is-warning" name="pracenje" value="prati">
                                        <span class="icon"> <i class="fa-solid fa-user-plus"></i> </span>
                                    </button>
                                {% endif %}
                            {% else %}
                                <a class="button is-warning is-rounded" href="{% url 'app:uredi_profil' %}">
                                    <span class="icon"> <i class="fa-solid fa-pencil"></i> </span>
                                    <span class="is-uppercase has-text-weight-bold">uredi</span>
                                </a>
                            {% endif %}
                        </form>
                    </div>
                </article>
            </div>
        </div>

        <!-- maknuti -->        
        {% if profili%}
        <div class="block is-flex is-justify-content-center pb-4">
            <div class="columns is-vcentered">
                {% for profil in profili %}
                    <a href="{% url 'app:profil' profil.id %}">
                        <div class="column p-4 has-text-centered">
                            <figure class="image is-64x64" style="margin: auto;">
                                <img class="is-rounded" src="{{ profil.avatar.url }}" alt="Image">
                            </figure>
                            <span class="subtitle is-6">@{{ profil.korisnik.username }}</span>
                        </div>
                    </a>
                {% endfor %}
                <div class="column">
                    <a class="button is-warning is-rounded" href="/naslovna/">
                        <span class="icon"> <i class="fa-solid fa-user"></i> </span>
                        <span class="is-uppercase has-text-weight-bold">profili</strong>
                    </a>
                </div>        
            </div>
        </div>
        {% endif %}

        <!-- popis profika koje korisnik prati -->
        {% if profil.prati.all %}
        <div class="block is-flex is-justify-content-center p-4">
            <div class="columns is-vcentered">
                {% for prati_profil in profil.prati.all|slice:':5' %}
                    <a href="{% url 'app:profil' prati_profil.id %}">
                        <div class="column p-4 has-text-centered">
                            <figure class="image is-64x64" style="margin: auto;">
                                <img class="is-rounded" src="{{ prati_profil.avatar.url }}" alt="Image">
                            </figure>
                            <span class="subtitle is-6">@{{ prati_profil.korisnik.username }}</span>
                        </div>
                    </a>
                {% endfor %}
                <div class="column">
                    <a class="button is-warning is-rounded" href="{% url 'app:prati' profil.id %}">
                        <span class="icon"> <i class="fa-solid fa-user"></i> </span>
                        <span class="is-uppercase has-text-weight-bold">svi</strong>
                    </a>
                </div>        
            </div>
        </div>
        {% endif %}

        <!-- popis profila koji prate korisnika-->
        {% if profil.pracen_od.all %}
        <div class="block is-flex is-justify-content-center p-4">
            <div class="columns is-vcentered">
                {% for prate_profil in profil.pracen_od.all|slice:':5' %}
                    <a href="{% url 'app:profil' prate_profil.id %}">
                        <div class="column p-4 has-text-centered">
                            <figure class="image is-64x64" style="margin: auto;">
                                <img class="is-rounded" src="{{ prate_profil.avatar.url }}" alt="Image">
                            </figure>
                            <span class="subtitle is-6">@{{ prate_profil.korisnik.username }}</span>
                        </div>
                    </a>
                {% endfor %}
                <div class="column">
                    <a class="button is-warning is-rounded" href="{% url 'app:prate' profil.id %}">
                        <span class="icon"> <i class="fa-solid fa-user"></i> </span>
                        <span class="is-uppercase has-text-weight-bold">svi</strong>
                    </a>
                </div>        
            </div>
        </div>
        {% endif %}

        <!-- popis objava -->
        <div class="block">
            {% for objava in profil.korisnik.objave.all %}
                <div class="box">
                    <a href="{% url 'app:objava' objava.id %}">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title is-size-5 has-text-bold"> {{ objava.stvorio.profil.ime }} </span>
                                        <span class="subtitle is-size-6 has-text-grey-light ml-2"> @{{ objava.stvorio.username }} </span>
                                        <span class="subtitle is-size-6 has-text-grey-light ml-2"> {{ objava.vrijeme_stvaranja|timesince }} </span>
                                    </p>
                                    <p>
                                        {{ objava.sastojci }}
                                    </p>
                                    <p>
                                        {{ objava.upute }}
                                    </p>
                                    <p>
                                        {{ objava.napomene }}
                                    </p>
                                </div>
                                
                                <!-- ispis broja lajkova i komentara -->
                                <nav class="level is-mobile mt-3">
                                    <div class="level-left">
                                            <div class="buttons">
                                                <button class="button is-small is-white" disabled>
                                                    <span class="icon"> <i class="fa-solid fa-heart"></i> </span>
                                                    <span class="is-size-6"> {{ objava.srca.count }} </span>
                                                </button>
                                                <button class="button is-small is-white" disabled>
                                                    <span class="icon"> <i class="fa-solid fa-comments"></i> </span>
                                                    <span class="is-size-6"> {{ objava.komentari.count }} </span>
                                                </button>
                                            </div>
                                    </div>
                                </nav>  
                            </div>
                        </article>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}